
        .header{
            display: flex;
            background-color: limegreen;
            color: black;
        }
        .footer{
            background-color: silver;
        }
        .container{
            margin: 0px;
        }

  *{
    margin: 0px;
  }
  .menu{
    display: flex;
  }